AccessModifierOffset:                 -2
AlignAfterOpenBracket:                Align
AlignConsecutiveAssignments:          Consecutive
AlignConsecutiveDeclarations:         Consecutive
AlignConsecutiveBitFields:            false
AllowShortBlocksOnASingleLine:        false
AllowShortFunctionsOnASingleLine:     All
AllowShortLambdasOnASingleLine:       All
AllowShortIfStatementsOnASingleLine:  WithoutElse
AlwaysBreakTemplateDeclarations:      true
BasedOnStyle:                         LLVM
BinPackArguments:                     true
BinPackParameters:                    true
BreakBeforeBraces:                    Allman
ColumnLimit:                          0
Cpp11BracedListStyle:                 true
FixNamespaceComments:                 true
IncludeBlocks:                        Preserve
IndentCaseLabels:                     true
IndentPPDirectives:                   None
IndentWidth:                          2
KeepEmptyLinesAtTheStartOfBlocks:     false
NamespaceIndentation:                 All
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyBreakComment:                  5
PenaltyBreakFirstLessLess:            50
PenaltyExcessCharacter:               4
PointerAlignment:                     Right
SortIncludes:                         true
SpaceAfterTemplateKeyword:            false
SpaceBeforeCpp11BracedList:           false
SpaceInEmptyBlock:                    false
TabWidth:                             2
UseTab:                               Never

